@import "tailwindcss";
@import "@splidejs/splide/css";

@font-face {
  font-family: "Yekan";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/yekan/YekanBakhFaNum-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Yekan";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/yekan/YekanBakhFaNum-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Yekan";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/yekan/YekanBakhFaNum-Black.woff2") format("woff2");
}

@font-face {
  font-family: "Yekan";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/yekan/YekanBakhFaNum-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Yekan";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/yekan/YekanBakhFaNum-SemiBold.woff2") format("woff2");
}

@theme {
  --breakpoint-desktop: 49.4375rem;

  --color-form: 0, 183, 205;
  --color-gray-300: #f8f8f8;
  --color-primary: #00b7cd;

  --color-blog-mobile: linear-gradient(
    to top,
    transparent 0%,
    transparent 10%,
    #f5f5f5 55%,
    #f5f5f5 100%
  );

  --color-blog: linear-gradient(
    to right,
    transparent 0%,
    transparent 10%,
    #f5f5f5 55%,
    #f5f5f5 100%
  );
}

@layer base {
  html::-webkit-scrollbar {
    display: none !important;
  }
  html {
    font-family: "yekan";
    scroll-behavior: smooth;
  }
  body {
    min-height: 100vh;
  }

  select:has(:disabled:checked) {
    color: #cfcfcf;
  }
  button,
  select {
    cursor: pointer;
  }
}

@layer utilities {
  .container-w {
    @apply px-4  xl:px-[6rem];
  }
  .fs-normal {
    font-size: clamp(0.75rem, 0.6962rem + 0.2532vw, 1rem);
  }
  .fs-h1 {
    font-size: clamp(0.875rem, 0.7405rem + 0.6329vw, 1.5rem);
  }
  .fs-h2 {
    font-size: clamp(1rem, 0.9462rem + 0.2532vw, 1.25rem);
  }
  .fs-tiny {
    font-size: clamp(0.75rem, 0.7231rem + 0.1266vw, 0.875rem);
  }

  .hamburger {
    @apply size-6 h-3.5 flex flex-col justify-between;
  }

  .hamburger.toggled span:nth-child(1) {
    @apply rotate-45 translate-y-[6px];
  }

  .hamburger.toggled span:nth-child(2) {
    @apply opacity-0;
  }

  .hamburger.toggled span:nth-child(3) {
    @apply -rotate-45 -translate-y-[6px];
  }

  .hamburger-span {
    @apply block bg-white rounded-sm transition-all duration-700;
    height: 2px !important;
    width: 100% !important;
  }

  .splide_navgan .splide__slide.is-active div {
    transform: scale(1.5);
  }

  .datepicker-toggle {
    display: inline-block;
    position: relative;
    width: 18px;
    height: 19px;
  }
  .datepicker-toggle-button {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .datepicker-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    box-sizing: border-box;
  }
  .datepicker-input::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }

  .select-option + div {
    padding-top: 0.5rem;
  }
}

@layer components {
  .checkbox-control {
    @apply flex items-center gap-2.5;
  }
  .checkbox {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    position: relative;
    height: 1.15em;
    outline: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 0.25em;
    display: grid;
    place-content: center;
    transform: translateY(-0.075em);
  }
  .checkbox::before {
    content: "";
    width: 1.65em;
    height: 1.65em;
    transform: scale(0);
    background: black;
    clip-rule: evenodd;
    transform-origin: bottom left;
    clip-path: path(
      "M10.5799 15.58C10.3799 15.58 10.1899 15.5 10.0499 15.36L7.21994 12.53C6.92994 12.24 6.92994 11.76 7.21994 11.47C7.50994 11.18 7.98994 11.18 8.27994 11.47L10.5799 13.77L15.7199 8.62998C16.0099 8.33998 16.4899 8.33998 16.7799 8.62998C17.0699 8.91998 17.0699 9.39998 16.7799 9.68998L11.1099 15.36C10.9699 15.5 10.7799 15.58 10.5799 15.58Z"
    );
  }

  .checkbox.checkbox-form {
    width: 20px;
    border-radius: 0.4em;
    height: 20px;
  }

  .checkbox.checkbox-form::before {
    background: rgba(var(--color-form));
  }
  .checkbox.checkbox-form::after {
    border-radius: 0.4em;

    box-shadow: inset 1.65em 1.65em rgba(var(--color-form), 0.5);
  }
  .checkbox::after {
    content: "";
    border-radius: 0.25em;
    position: absolute;
    inset: 0;
    transform: scale(0);
    box-shadow: inset 1.65em 1.65em rgba(0, 0, 0, 0.4);
  }
  .checkbox:checked::before {
    transform: scale(1);
  }
  .checkbox:checked::after {
    transform: scale(1);
  }
  .checkbox:checked {
    outline-color: transparent;
  }

  :root {
    --font: "Yekan";
  }

  .dp-btn {
    border: 0;
    background-color: inherit;
  }

  .whole-wrapper,
  .select-value,
  .select-items {
    font-family: var(--font);
  }

  .items-center {
    align-items: center;
  }

  .justify-between {
    justify-content: space-between;
  }

  .gap-2 {
    gap: 8px;
  }
  .fw-bold {
    font-weight: bold;
  }

  html {
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  .dp .date_picker_calendar {
    min-height: fit-content;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding: 1.25rem;
  }

  .dp .date_picker_calendar {
    border-radius: 28px;
    background: #fff;
    width: 25.75rem;
  }

  .dp .calendar_header {
    width: 100%;
    min-height: 30px;

    margin-bottom: 8px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #bebebe;
    padding-bottom: 0.5rem;
  }

  .dp .cal-btn {
    width: 20px;
    height: 20px;
    background: var(--dark-arrows-bg);
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 6px;
  }

  .dp .cal-btn img {
    width: 42%;
    height: 42%;
  }

  .dp .cal-btn.back img {
    transform: rotate(-90deg);
  }

  .dp .cal-btn.front img {
    transform: rotate(90deg);
  }

  .dp .cal_days,
  .dp .calendar_main {
    display: grid;
    grid-template-columns: repeat(7, 1.8125rem);
    gap: 10px;
    color: var(--dark-inactive-fg);
  }

  .dp .cal_days {
    white-space: nowrap;
    margin-bottom: 10px;
    font-size: 0.5rem;
  }

  .dp .calendar_main {
    grid-template-rows: repeat(5, min(30px));
  }

  .dp .cell_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;

    position: relative;
  }
  .dp .cal_label {
    margin-inline-end: 0.875rem;
    margin-block: 0;
  }
  .dp .current {
    background: transparent;
    color: black;
  }

  .dp.cal-btn:hover,
  .dp .current:hover {
    cursor: pointer;
  }

  .dp .isSelected {
    background: #292d32;
    color: white;
  }

  .dp .hiddenz {
    visibility: hidden;
  }

  .dp .change-calendar {
    width: 100%;
    border-radius: 9px;
    padding-inline: 7px;
    background-color: rgb(8, 7, 7);
    padding-block: 0.3rem;
    cursor: pointer;
    color: white;
    font-size: 0.75rem;

    border: 0;
  }

  .dp .cal_date {
    font-size: 0.75rem;
    height: 30px;
  }
  .dp .cal_date.disabled {
    background: #f5f6f8;
    color: #b7b7b7;
  }
  .dp .whole-wrapper {
    border-bottom: 1px solid #bebebe;
    padding-bottom: 11px;
  }

  .dp .actions {
    padding-top: 0.75rem;
    gap: 6px;
    justify-content: end;
  }
  .dp .actions * {
    border-radius: 9px;
  }

  .dp .delete {
    background: #f8f8f8;
    width: 3.6875rem;
    height: 1.75rem;
    color: #8a8a8a;
    font-size: 0.75rem;
  }

  .dp .select {
    background-color: black;
    color: white;
    width: 3.8125rem;
    height: 1.75rem;
    font-size: 0.75rem;
  }

  .dp .custom-select {
    font-family: Yekan;
  }

  .dp .custom-select select {
    display: none;
  }
  .dp .select-items {
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.08);
    background-color: white;
    border-radius: 16px;
    margin-top: 0.25rem;
    padding: 24px;
    padding-bottom: 20px;
    max-height: 10rem;
    overflow-y: scroll;
    position: absolute;

    z-index: 50;
  }
  /* Hide the items when the select box is closed: */
  .dp .select-hide {
    display: none;
  }
  .dp .select-value {
    font-weight: normal;
  }

  .dp .select-container.open .dropdown-ico {
    rotate: 180deg;
  }

  .dp .dropdown-ico {
    line-height: 0.1;
  }

  /* Scroll Month Picker */

  .dp .month-picker {
    width: 116px;
    height: 215px;
    padding-inline: 10px;
    border-radius: 8px;
    overflow: hidden;

    background: linear-gradient(
      180deg,
      rgba(248, 248, 248, 0.2) 17.91%,
      #f8f8f8 49.88%,
      rgba(248, 248, 248, 0.2) 81.86%
    );

    position: relative;
  }

  .dp .month-picker-header {
    background-color: #f9f9f9;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
  }

  .dp .month-selected {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }

  .dp .month-list-container {
    position: relative;
    height: 100%;
    overflow: hidden;
  }

  .dp .month-list {
    position: absolute;
    width: 100%;
    top: 0;
    overflow-y: auto;
    height: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
  }

  .dp .month-list::-webkit-scrollbar {
    width: 5px;
  }

  .dp .month-list {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer/Edge */
  }

  .dp .month-list::-webkit-scrollbar-thumb {
    display: none;
  }

  .dp .month-item {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 14px;
  }

  .dp .month-item.selected {
    color: #2196f3;
    font-weight: bold;
    font-size: 16px;
  }

  .dp .selection-indicator {
    position: absolute;
    left: 0;
    right: 0;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    pointer-events: none;
    z-index: 1;
  }

  /* Add padding to make items align perfectly with center */
  .dp .month-list::before,
  .dp .month-list::after {
    content: "";
    display: block;
    height: 91px;
  }
}

@media (width > 768px) {
  .splide_navgan .splide__slide.is-active div {
    transform: scale(2);
  }
}
