@import "tailwindcss";
@import "@splidejs/splide/css";

@font-face {
  font-family: "Yekan";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/yekan/YekanBakhFaNum-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Yekan";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/yekan/YekanBakhFaNum-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Yekan";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/yekan/YekanBakhFaNum-Black.woff2") format("woff2");
}

@font-face {
  font-family: "Yekan";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/yekan/YekanBakhFaNum-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Yekan";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/yekan/YekanBakhFaNum-SemiBold.woff2") format("woff2");
}

@theme {
  --breakpoint-desktop: 49.4375rem;

  --color-form: 0, 183, 205;
  --color-gray-300: #f8f8f8;
  --color-primary :#00B7CD;

  --color-blog-mobile : linear-gradient(to top, transparent 0%, transparent 10%, #f5f5f5 55%, #f5f5f5  100%);

  --color-blog :linear-gradient(to right, transparent 0%, transparent 10%, #f5f5f5 55%, #f5f5f5  100%);
}

@layer base {
  html::-webkit-scrollbar {
    display: none !important;
  }
  html {
    font-family: "yekan";
    scroll-behavior: smooth;
  }
  body {
    min-height: 100vh;
  }

  select:has(:disabled:checked) {
    color: #cfcfcf;
  }
  button,
  select {
    cursor: pointer;
  }
}

@layer utilities {
  .container-w {
    @apply px-4  xl:px-[6rem];
  }
  .fs-normal {
    font-size: clamp(0.75rem, 0.6962rem + 0.2532vw, 1rem);
  }
  .fs-h1 {
    font-size: clamp(0.875rem, 0.7405rem + 0.6329vw, 1.5rem);
  }
  .fs-h2 {
    font-size: clamp(1rem, 0.9462rem + 0.2532vw, 1.25rem);
  }
  .fs-tiny {
    font-size: clamp(0.75rem, 0.7231rem + 0.1266vw, 0.875rem);
  }

  .hamburger {
    @apply size-6 h-3.5 flex flex-col justify-between;
  }

  .hamburger.toggled span:nth-child(1) {
    @apply rotate-45 translate-y-[6px];
  }

  .hamburger.toggled span:nth-child(2) {
    @apply opacity-0;
  }

  .hamburger.toggled span:nth-child(3) {
    @apply -rotate-45 -translate-y-[6px];
  }

  .hamburger-span {
    @apply block bg-white rounded-sm transition-all duration-700;
    height: 2px !important;
    width: 100% !important;
  }

  .splide_navgan .splide__slide.is-active div {
    transform: scale(1.5);
  }

  .datepicker-toggle {
    display: inline-block;
    position: relative;
    width: 18px;
    height: 19px;
  }
  .datepicker-toggle-button {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .datepicker-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    box-sizing: border-box;
  }
  .datepicker-input::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }

  .select-option + div {
    padding-top: 0.5rem;
  }
}

@layer components {
  .checkbox-control {
    @apply flex items-center gap-2.5;
  }
  .checkbox {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    position: relative;
    height: 1.15em;
    outline: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 0.25em;
    display: grid;
    place-content: center;
    transform: translateY(-0.075em);
  }
  .checkbox::before {
    content: "";
    width: 1.65em;
    height: 1.65em;
    transform: scale(0);
    background: black;
    clip-rule: evenodd;
    transform-origin: bottom left;
    clip-path: path(
      "M10.5799 15.58C10.3799 15.58 10.1899 15.5 10.0499 15.36L7.21994 12.53C6.92994 12.24 6.92994 11.76 7.21994 11.47C7.50994 11.18 7.98994 11.18 8.27994 11.47L10.5799 13.77L15.7199 8.62998C16.0099 8.33998 16.4899 8.33998 16.7799 8.62998C17.0699 8.91998 17.0699 9.39998 16.7799 9.68998L11.1099 15.36C10.9699 15.5 10.7799 15.58 10.5799 15.58Z"
    );
  }

  .checkbox.checkbox-form {
    width: 20px;
    border-radius: 0.4em;
    height: 20px;
  }

  .checkbox.checkbox-form::before {
    background: rgba(var(--color-form));
  }
  .checkbox.checkbox-form::after {
    border-radius: 0.4em;

    box-shadow: inset 1.65em 1.65em rgba(var(--color-form), 0.5);
  }
  .checkbox::after {
    content: "";
    border-radius: 0.25em;
    position: absolute;
    inset: 0;
    transform: scale(0);
    box-shadow: inset 1.65em 1.65em rgba(0, 0, 0, 0.4);
  }
  .checkbox:checked::before {
    transform: scale(1);
  }
  .checkbox:checked::after {
    transform: scale(1);
  }
  .checkbox:checked {
    outline-color: transparent;
  }
}

@media (width > 768px) {
  .splide_navgan .splide__slide.is-active div {
    transform:  scale(2);
  }
}